@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.anchor {
  display: block;
  height: 45px;
  margin-top: -45px;
  visibility: hidden;
}
  
  .education-item {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 400px;
    height: 100%;
    min-width: 300px;
    width: 100%;
    overflow: hidden;
  }
  
  .education-item .bg-animation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, #ff9a9e, #fad0c4, #fad0c4, #ff9a9e);
    background-size: 600% 600%;
    z-index: -1;
    animation: gradientBackground 10s ease infinite;
  }
  
  .education-item .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .education-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }
  
  .education-item .fa-graduation-cap {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2.5rem;
    color: #000000;
  }
  
  .list-inside li {
    margin-left: 1rem;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid > div {
    flex: 1;
    display: flex;
    min-width: 300px;
    margin: 10px;
  }
  