/* Experience.css */

.experience-container {
  background-color: #f3f4f6;
}
.anchor {
  display: block;
  height: 45px;
  margin-top: -45px;
  visibility: hidden;
}

.experience-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.card-role,
.card-duration,
.card-location {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

.read-more-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  right: 16px;
  bottom: 16px;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #0c1edf;
}

.card-responsibilities {
  margin-top: 8px;
  font-size: 0.875rem;
  color: #555;
  /* padding: 0 16px; */
}

